<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Ph</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="/static/css/nprogress.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <a href="https://github.com/bramgg/ph" target="_blank">
            <img class="gh" src='/static/img/gh.png'>
        </a>
        Product Hunt
        {% raw %}
        <script class="header-ph-temp" type="x-tmpl-mustache">
            <a href="https://github.com/bramgg/ph" target="_blank">
                <img class="gh" src='/static/img/gh.png'>
            </a>
            Product Hunt
        </script>
        <script class="header-back-temp" type="x-tmpl-mustache">
            <a class="back" href="javascript:void(0)">Back to Ph</a>
            <a class="tab" href="{{ url }}" target="_blank">Open in new tab</a>
        </script>
        {% endraw %}
    </div>

    <div class="list">
        <div class="above-footer">
            {% raw %}
            <script class="date-temp" type="x-tmpl-mustache">
                <div class="date">{{ date }}</div>
            </script>
            <script class="post-temp" type="x-tmpl-mustache">
                <div class="post">
                    <a class="link" href="{{ url }}" rel="nofollow">
                        <div class="top">
                            <span class="score">{{ score }}</span>
                            <span class="title">{{ title }}</span>
                        </div>
                        <div class="tag">{{ tag }}</div>
                    </a>
                    <a class="perma" href="http://producthunt.com{{ perma }}" rel="nofollow">
                        <span class="comment-icon fa fa-comments-o"></span>
                        <span class="comment-count">{{ comments }}</span>
                    </a>
                </div>
            </script>
            {% endraw %}
        </div>
        <div class="footer">Loading...</div>
    </div>

    <div class="page">
        {% raw %}
        <script class="page-temp" type="x-tmpl-mustache">
            <iframe src="{{ url }}"></iframe>
        </script>
        {% endraw %}
    </div>

    <div class="discussion">
        {% raw %}
        <script class="comment-temp" type="x-tmpl-mustache">
            <div class="comment">
                <div class="author">
                    <a class="name" href="http://www.producthunt.com/{{ name }}" target="_blank">{{ name }}</a>
                    <a class="handle" href="https://twitter.com/{{ handle }}" target="_blank">{{ handle }}</a>
                </div>
                <div class="text">{{{ text }}}</div>
            </div>
            <div class="children">{{{ children }}}</div>
        </script>
        {% endraw %}   
    </div>

    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' type='text/javascript'></script>
    <script src='/static/js/mustache.min.js' type='text/javascript'></script>
    <script src='/static/js/nprogress.min.js' type='text/javascript'></script>
    <script src='/static/js/index.js' type='text/javascript'></script>
</body>
</html>
